<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="ConStr" connectionString="Data Source=.\sqlexpress;Initial Catalog=FinanzasPersonalesDb;Integrated Security=True"/>
    <add name="FinanzasPersonalesWebDbConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\enelr\Google Drive\Documentos Sync\C#\UCNE\Aplicada II\Aplicada II 2016-1\Proyectos\FinanzasPersonalesWeb\FinanzasPersonalesWeb\App_Data\FinanzasPersonalesWebDb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>

</configuration>